{% extends "layout.html" %} {% block body %}
    
<div class="scontainer">
    <section class="mainSection">
    <div class="jumbotron">
        <div class="jumbotron-inner">
            <div class="top-box">
                <div class="content-box">
                    <h1>
                        About CSMAP
                    </h1>
                    <p>
                        CSMAP is an Integrated Tool which provide many facilities and help you in Pentesting,Networking and Bug Hunting. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt harum nulla quos. Et saepe tempora repellendus dolores fugiat ad inventore!</p>
                </div>
            </div>
        </div>
        
    </div>
    <div class="story-container">
        <div class="need-for-csmap-container">
            <h3 class="text-left">
                Need For CSMAP
            </h3>
            <p>
                <!-- i will add something here -->
                Csmap is a tool which can help newbie to start their journey in cyber security.
            </p>
            
        </div>
        <div class="container-divider"></div>
        <div class="our-tech-container">
            <h3 class="text-left">
                Our Technology
            </h3>
            <p>
                This is a minor project which is designed by Aayush Kumar Gupta for the college project.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum facilis molestias quia enim porro a obcaecati iste, error itaque molestiae! Officia debitis vitae nobis praesentium aliquam animi aut sit illo!
            </p>
            
        </div>
        <div class="container-divider"></div>
        <div class="origin-story-container">
            <h3 class="text-left">
                Origin Story
            </h3>
            <p>
                This all started from my interest...
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa optio aliquid eius ipsam recusandae sint accusantium sed nam! Hic architecto odit, nisi ab quo id placeat? Saepe ipsum alias sunt! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati magnam unde assumenda magni atque iure, ut ratione mollitia repellat soluta, voluptatibus iusto libero. Iure nam delectus harum nulla atque minus. 
            </p>
            
        </div>
        <!-- <div class="today-container">
            <h3 class="text-left">
                Flash Forward Today
            </h3>
            <p>
                APIMatic has come a long way since its inception 3 years ago. Having started with only generating SDKs, APIMatic now provides solutions in other areas of developer experience as well. Presently, APIMatic is used by numerous organizations around the world to:
            </p>
            
        </div> -->

    </section>
</div>

{% endblock %}