{% extends "layout.html" %} {% block head %} {{ super() }}

<style>
  .mainH {
    font-style: italic;
    font-weight: 700;
  }
  </style>

<title>CaeserCipher</title>

{% endblock %} {% block body %}

<header class="mainH">Caeser Cipher</header>

<div class="scontainer text-light">

  <section class="mainSection">
  <p>
    The Caesar cipher is the simplest and oldest method of cryptography. The Caesar cipher method is based on a mono-alphabetic cipher and is also called a shift cipher or additive cipher. Julius Caesar used the shift cipher (additive cipher) technique to communicate with his officers. For this reason, the shift cipher technique is called the Caesar cipher. The Caesar cipher is a kind of replacement (substitution) cipher, where all letter of plain text is replaced by another letter.
    <br>
    <ul>
      <li>Plaintext: It is a simple message written by the user.</li>
      <li>Ciphertext: It is an encrypted message after applying some technique.</li>
    </ul>
  </p>
  <div class="cscode">
    <p class="pcode">Caeser Cipher Class Declaration</p>
      <pre><code class="language-py">class CaeserCipher:
    def __init__(self, text, s):
        self.text = text
        self.s = int(s)</code></pre>
  </div>

  <div class="cscode">
    <p class="pcode">Code for Encryption</p>
      <pre><code class="language-py">def encrypt(self):
    result = ""

    # traverse text
    for i in range(len(self.text)):
        char = self.text[i]

        if (char==' ' or char=='\n' or char=='\t'):
            result+=char
            
        # Encrypt uppercase characters
        elif (char.isupper()):
            result += chr((ord(char) + self.s-65) % 26 + 65)

        # Encrypt lowercase characters
        else:
            result += chr((ord(char) + self.s - 97) % 26 + 97)

    return result</code></pre>
  </div>

  <div class="cscode">
    <p class="pcode">Code for Deryption</p>
      <pre><code class="language-py">def decrypt(self):
    result = ""
    for i in range(len(self.text)):
        char = self.text[i]

        if (char==' ' or char=='\n' or char=='\t'):
            result+=char

        # Decrypt uppercase characters
        elif (char.isupper()):
            result += chr((ord(char) - self.s - 65) % 26 + 65)

        # Decrypt lowercase characters
        else:
            result += chr((ord(char) - self.s - 97) % 26 + 97)

    return result</code></pre>
  </div>

</section>
</div>

{% endblock %}

{% block html %}

<script>
  function resetFun() {
    document.getElementById("cc-form").reset();
  }
</script>

{% endblock %}

