{% extends "layout.html" %} {% block head %} {{ super() }}

<link rel="stylesheet" href="../static/css/form.css" />

{% endblock %} {% block body %}
<header class="mainH">Caeser Cipher</header>
<div class="cipherF">
  {% if endpoint=='encrypt' %}
    <h2 id="ccheader1">Encryption</h2>

    {% else %}
    <h2 id="ccheader1">Decryption</h2>

    {% endif %}
  <form method="POST">
    <div class="user-box">
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        name="text"
        {%
        if
        result
        %}
        value="{{result['text']}}"
        {%
        endif
        %}
        required
      />
      {% if endpoint=='encrypt' %}
      <label for="formGroupExampleInput">Plain Text</label>
      {% else %}
      <label for="formGroupExampleInput">Cipher Text</label>
    {% endif %}
    </div>
    <div class="user-box">
      <input
        type="number"
        class="form-control"
        id="formGroupExampleInput2"
        {%
        if
        result
        %}
        value="{{result['key']}}"
        {%
        endif
        %}
        name="key"
        required
      />
      <label for="formGroupExampleInput2">Key</label>
    </div>

    {% if result %}
    <div class="user-box">
      <input
      id="cipherText"
      type="text"
      value="{{ result['result'] }}"
      />
      {% if endpoint=='encrypt' %}
      <label for="cipherText">Cipher Text</label>
      {% else %}
      <label for="formGroupExampleInput">Plain Text</label>
    {% endif %}
    </div>
    {% endif %}

    <button type="submit" class="btn btn-primary my-1">
      <span></span>
      <span></span>
      <span></span>
      <span></span>Submit
    </button>
  </form>
</div>
</div>
{% endblock %}
