{% extends "layout.html" %} {% block body %}

<div class="scontainer">
  <div class="ncontainer">
      <h2>CONTACT US</h2>
      <h4>We'd love to hear from you!</h4>
      <form method="POST">      
        <input name="name" type="text" class="feedback-input" placeholder="Name" required />   
        <input name="email" type="email" class="feedback-input" placeholder="Email" required />
        <textarea name="comment" class="feedback-input" placeholder="Comment"></textarea>
        <input type="submit" value="SUBMIT" required/>
      </form>
  </div>
</div>

{% endblock %}
