<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='../static/css/style.css') }}"
    />

    <title>CSMAP</title>
    {% endblock %}
  </head>

  <body id="mainBody">
    <nav class="navbar navbar-expand-lg navbar-dark bg">
      <a class="navbar-brand" href="./">CSMAP</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <!-- <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a> -->
          <!-- <a class="nav-item nav-link" href="#">Features</a> -->
          <!-- <a class="nav-item nav-link" href="#">Pricing</a> -->
          <!-- <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
        </div>
      </div>

      <!-- --------------- SideBar HamBurger ------------------ -->

      <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
          >&times;</a
        >
        <a href="./">Home</a>
        <a href="./caesercipher">Caeser Cipher</a>
        <a href="./macSpoofer">Mac Spoofer</a>
        <a href="./arpSpoofer">ARP Spoofer</a>
        <a href="./portScanner">Port Scanner</a>
        <a href="./passGenerator">Random Password Generator</a>
        <a href="./about">About</a>
        <a href="./contact">Contact</a>
      </div>

      <div id="main">
        <button class="openbtn" onclick="openNav()">
          &#9776; 
        </button>
        <!-- <h2>Collapsed Sidebar</h2>
        <p>Content...</p> -->
      </div>
    </nav>

    <!-- Body here -->

    {% block body %} {% endblock %}

    <footer>
      <div
        class="text-light"
        style="
          padding: 4rem;
          border: 2px solid green;
          text-align: center;
          font-size: xx-large;
        "
      >
        <p>FOOTER</p>
        <p class="container">i Will do my work letter</p>
      </div>
    </footer>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
  {% block html %} {% endblock %}
  <script>
    /* Set the width of the sidebar to 300px and the left margin of the page content to 300px */
    function openNav() {
      document.getElementById("mySidebar").style.width = "300px";
      document.getElementById("mainBody").style.marginRight = "300px";
      document.getElementById("main").style.display = "None";
    }
    
    /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginRight = "0";
      document.getElementById("main").style.display = "block";
      document.getElementById("mainBody").style.marginRight = "0";
    }
  </script>

</html>
