{% extends "layout.html" %} {% block head %} {{ super() }}

<style>
  .mainH {
    font-weight: 600;
    font-size: 7rem;
  }
</style>

{% endblock %} {% block body %}

<header class="mainH">Random Password Generator</header>

<div class="scontainer">
  <section class="mainSection">
    <p>Passwords are a real security threat. Over 80% of hacking-related breaches are due to weak or stolen passwords, a recent report shows . So if you want to safeguard your personal info and assets, creating secure passwords is a big first step. And that’s where the LastPass Password Generator can help. Impossible-to-crack passwords are complex with multiple types of characters (numbers, letters, and symbols). Making your passwords different for each website or app also helps defend against hacking. This password generator tool runs locally on your Windows, Mac or Linux computer, as well as your iOS or Android device. The passwords you generate are never sent across the web. </p>
    <div class="cscode">
      <p class="pcode">Password Generator Class Declaration</p>
      <pre><code class="language-py">class PassGenerator:
    def __init__(self, l):
        self.s1 = list(string.ascii_lowercase)
        self.s2 = list(string.ascii_uppercase)
        self.s3 = list(string.digits)
        self.s4 = list(string.punctuation)
        self.s = []
        self.s.extend(self.s1)
        self.s.extend(self.s2)
        self.s.extend(self.s3)
        self.s.extend(self.s4)
        self.passlen = l

        if self.passlen < 8:
            print(colored('''\tYou entered a length which is too small.
        Its easy to crack by any Cracker..
        So, I will create a 8 letters password for you
        I hope you dont mind it''', 'yellow'))
            print(colored("".join(random.sample(self.s, 8)),'green', attrs=['bold', 'blink']))
        elif self.passlen > 94:
            print(
                colored(f"Where to use {self.passlen} letters password LOL", 'yellow'))
            print(colored(
                f"If you really want to create a password of {self.passlen} 
                letters then Enter", 'blue'))
            typed_string = input("")
            x = self.passlen // 94
            y = self.passlen % 94
            print(colored(("".join(random.sample(self.s, 94))) * x +
                          ("".join(random.sample(self.s, y))), 'green', attrs=['bold']))
        else:
            print(colored("Yup! Good choice of password length..!!", 'yellow'))
            print(colored("".join(random.sample(self.s, self.passlen)),
                          'green', attrs=['bold']))</code></pre>
    </div>
  </section>
</div>

{% endblock %}
