{% extends "layout.html" %}

{% block head %} 
{{ super() }} 

<style>

.mainH{
  font-weight: 700;
}
</style>

{% endblock %}
{% block body %}

<header class="mainH">Port Scanner</header>

<div class="scontainer">
  <section class="mainSection">
    <p>A port scanner is an application designed to probe a server or host for open ports. Such an application may be used by administrators to verify security policies of their networks and by attackers to identify network services running on a host and exploit vulnerabilities.</p>

    <p>A port scan or portscan is a process that sends client requests to a range of server port addresses on a host, with the goal of finding an active port; this is not a nefarious process in and of itself.The majority of uses of a port scan are not attacks, but rather simple probes to determine services available on a remote machine. </p>
    <div class="cscode">
      <p class="pcode">Port Scanner Class Declaration</p>
      <pre><code class="language-py">class PortScanner:
    def connScan(tgtHost, tgtPort):
        try:
            sock = socket(AF_INET, SOCK_STREAM)
            sock.connect((tgtHost, tgtPort))
            print(colored(f"[+] {tgtPort}/tcp Open", 'green'))
        except:
            print(colored(f"[-] {tgtPort}/tcp Closed", 'red'))
        finally:
            sock.close()

    def portScan(tgtHost, tgtPorts):
        try:
            tgtIP = gethostbyname(tgtHost)
        except:
            print(colored(f"Unknown Host {tgtHost}", 'blue'))
        try:
            tgtName = gethostbyaddr(tgtIP)
            print(colored(f"[+] Scan Results For: {tgtName[0]} ", 'blue'))
        except:
            print(colored(f"[+] Scan Results For: {tgtIP}", 'blue'))
        setdefaulttimeout(1)
        for tgtPort in tgtPorts:
            t = Thread(target=PortScanner.connScan,
                        args=(tgtHost, int(tgtPort)))
            t.start()</code></pre>
    </div>

    <div class="cscode">
      <p class="pcode">Main Function</p>
      <pre><code class="language-py">if __name__="__main__":
    tgtHost = options.tgtHost
    tgtPorts = str(options.tgtPort).split(',')
    if (tgtHost == None) | (tgtPorts[0] == None):
        print(parser.usage)
        exit(0)
    PortScanner.portScan(tgtHost, tgtPorts)</code></pre>
    </div>

  </section>
</div>

{% endblock %}